:root {
  --color-blue: #32b0ce;
}

.about-header {
  background: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.9) 80%), url("./../images/about-bg.jpg") center no-repeat;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0;
  overflow: hidden;
}
.about-section__header {
  text-align: right;
}
.about-section__header .section-border::after {
  left: auto;
  right: 0;
  transform: translateX(0);
}
.about-section__features {
  margin-top: 8rem;
  padding: 0 0%;
  display: flex;
  column-gap: 8%;
  row-gap: 6vw;
  justify-content: center;
  flex-wrap: wrap;
}
.about-section__features .feature {
  flex-basis: 45%;
  aspect-ratio: 1;
  position: relative;
  background-color: #181818;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid: 55% 45%/1fr;
  justify-items: center;
  align-items: center;
}
.about-section__features .feature::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 75%;
  background-color: #1f1f1f;
  border-radius: 50%;
  opacity: 0.75;
}
.about-section__features .feature span {
  margin-top: 1.5rem;
  font-size: clamp(2.8rem, 4.474vw + 1.368rem, 4.5rem);
  color: var(--color-blue);
  z-index: 1;
}
.about-section__features .feature h3 {
  margin-top: -2rem;
  width: 70%;
  font-size: clamp(1.1rem, 1.053vw + 0.763rem, 1.5rem);
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.about-section__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70rem;
  margin-top: 10rem;
  background: linear-gradient(to bottom, rgb(33, 33, 33) 10%, rgba(13, 23, 26, 0.85), rgb(33, 33, 33)), url("./../images/team-bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}
.about-section__team h2 {
  font-family: "Kaushan Script", cursive;
  font-size: clamp(6rem, 2.5vw + 5.2rem, 10rem);
  color: var(--color-blue);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  margin: 0 0 5rem 0;
}
.about-section__team .members {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section__team .members .member {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section__team .members .member img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 1s;
}
.about-section__team .members .member img:hover {
  filter: grayscale(0);
}
.about-section__team .members .member__name {
  font-size: clamp(1.3rem, 0.313vw + 1.2rem, 1.8rem);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  margin-top: 1.7em;
}
.about-section__team .members .member__position {
  font-size: clamp(0.9rem, 0.125vw + 0.86rem, 1.1rem);
  text-transform: uppercase;
  color: var(--color-blue);
  letter-spacing: 0.07em;
  margin-top: 0.7em;
}

.footer-about {
  margin-top: -13rem;
}

@media (min-width: 460px) {
  .about-section__features {
    padding: 0 5%;
  }
}
@media (min-width: 570px) {
  .about-section__team {
    margin-top: 5rem;
  }
  .about-section__team .members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-section__team .members .member {
    width: 25%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 1rem 6rem;
  }
}
@media (min-width: 600px) {
  .about-section__features {
    padding: 0 10%;
  }
}
@media (min-width: 700px) {
  .about-section__features {
    padding: 0 5%;
    column-gap: 6%;
    row-gap: 4vw;
  }
  .about-section__features .feature {
    flex-basis: 26%;
  }
  .about-section__features .feature span {
    font-size: clamp(3.2rem, 1.75vw + 2.64rem, 6rem);
  }
  .about-section__features .feature h3 {
    font-size: clamp(1rem, 0.5vw + 0.84rem, 1.8rem);
  }
}
@media (min-width: 720px) {
  .about-section__team {
    margin-top: 0rem;
  }
  .about-section__team .members {
    flex-wrap: nowrap;
  }
  .about-section__team .members .member {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 clamp(1.5rem, 2.813vw + 0.6rem, 6rem);
  }
  .footer-about {
    margin-top: -20rem;
  }
}
@media (min-width: 830px) {
  .about-section__features {
    column-gap: 5%;
    row-gap: 12%;
  }
  .about-section__features .feature {
    flex: 1;
    flex-basis: 20%;
  }
}
@media (min-width: 940px) {
  .about-section {
    padding: 15em 0;
  }
  .about-section__features {
    margin-top: 0;
  }
  .about-section__features .feature:nth-child(2), .about-section__features .feature:nth-child(6) {
    transform: translateY(6rem);
  }
  .about-section__features .feature:nth-child(3), .about-section__features .feature:nth-child(7) {
    transform: translateY(12rem);
  }
  .about-section__features .feature:nth-child(4), .about-section__features .feature:nth-child(8) {
    transform: translateY(18rem);
  }
  .about-section__team {
    width: 200%;
    min-height: 200rem;
    margin-top: -10rem;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
  }
  .about-section__team h2 {
    margin: -15rem 0 15rem 0;
  }
  .about-section__team .members {
    max-width: 40%;
  }
  .footer-about {
    margin-top: -65rem;
  }
  .footer-about .footer-header {
    text-align: right;
    margin-right: 6rem;
    align-self: flex-end;
  }
  .footer-about .footer-header .section-border::after {
    left: auto;
    right: 0;
    transform: translateX(0);
  }
}