@use 'settings' as s;

@use 'main/about' as about;
@use 'main/books' as books;
@use 'main/footer' as footer;
@use 'main/testimonials' as testimonials;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;

	scrollbar-width: thin;
	scrollbar-color: s.$color-blue s.$color-dark-gray-base;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	width: 85%;
	margin: 0 auto;
}

.section-padding {
	padding: 10em 0 15em 0;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: 'Mooli', cursive;
}

body::-webkit-scrollbar {
	width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
	background-color: s.$color-blue;
	border-radius: 5rem;
}
body::-webkit-scrollbar-track {
	background-color: s.$color-dark-gray-base;
}

.section-num {
	span {
		font-family: 'Cinzel', sans-serif;
		font-size: 25rem;
		font-weight: 900;
		background-image: url('./../images/text-bg-2.jpg');
		background-size: cover;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
	}
}

.section-heading--sm {
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: s.$color-blue;
}

.section-heading--lg {
	margin: 0.8em 0;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
}

.section-border {
	position: relative;
	width: 100%;
	height: 0.1rem;
	background-color: #333;
	margin-bottom: 3em;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 7rem;
		height: 0.7rem;
		background-color: s.$color-blue;
	}
}

.main-btn {
	display: inline-block;
	position: relative;
	min-width: 28rem;
	padding: 1.5em 3em;
	background-color: s.$color-blue;
	border: none;
	border-radius: 3rem;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 0.3em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	cursor: pointer;

	&:active {
		transform: translateY(0.2rem);
	}
	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: -100%;
		background: linear-gradient(to right, transparent, #ffffffcc, transparent);
		transform: skewX(-30deg);
		transition: left 0.5s ease-in-out;
	}
	&:hover::before {
		left: 100%;
	}
}

.container {
	width: 100%;
	height: 100%;
	background-color: s.$color-dark-gray-base;

	/*-------------------------------| NAVIGATION |---------------------------------- */

	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		background-color: #191919;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s 0.4s, opacity 0.2s 0.2s;

		.nav-left {
			flex: 1;
			height: 100%;
			opacity: 0;
			transition: opacity 0.3s;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(100%);
				opacity: 0.5;
				transition: filter 1s, opacity 0.8s;
			}
			&:hover img {
				filter: grayscale(0);
				opacity: 1;
			}
		}

		.nav-right {
			flex: 1;
			flex-grow: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color: #171717;
			transform: translateX(-200%);
			transition: flex-grow 0.3s ease-in, transform 0.4s ease-in;

			.nav-items {
				display: flex;
				flex-direction: column;

				a {
					&:first-child {
						position: relative;
						padding-left: 6rem;

						&::before {
							content: '';
							position: absolute;
							width: 4rem;
							height: 0.2rem;
							top: 50%;
							left: 1rem;
							transform: translateY(-50%);
							background-color: #fff;
							transition: background-color 0.3s;
						}
						&:hover::before {
							background-color: s.$color-blue;
						}
					}

					font-size: 1.8rem;
					margin: 2rem 0;
					text-transform: uppercase;
					color: #fff;
					opacity: 0;
					visibility: hidden;

					span {
						position: relative;
						font-family: 'Cinzel', sans-serif;
						font-size: 3rem;
						font-weight: 900;
						margin-left: 1rem;
						letter-spacing: 0.2rem;

						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 0.5rem;
							background-color: s.$color-blue;
							transition: width 0.3s;
						}
					}

					&:hover {
						color: s.$color-blue;
					}

					&:hover span::before {
						width: 100%;
					}
				}
			}
		}
	}

	&.navigate .navigation {
		opacity: 1;
		visibility: visible;
		transition: visibility 0.2s, opacity 0.2s ease-in-out;

		.nav-left {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.6s 0.3s ease-in-out, opacity 0.6s 0.3s ease-in-out;
		}

		.nav-right {
			flex-grow: 1;
			transform: translateX(0);
			transition: flex-grow 0.7s 0.1s, transform 0.7s ease-out;

			.nav-items {
				a {
					$time: 0.7s ease-in;
					$delay1: 0.3s;
					$delay2: 0.1s;
					opacity: 1;
					visibility: visible;

					&:nth-child(1) {
						transition: opacity $time calc($delay1 + $delay2), color 0.3s;
					}
					&:nth-child(2) {
						transition: opacity $time calc($delay1 + $delay2 * 2), color 0.3s;
					}
					&:nth-child(3) {
						transition: opacity $time calc($delay1 + $delay2 * 3), color 0.3s;
					}
					&:nth-child(4) {
						transition: opacity $time calc($delay1 + $delay2 * 4), color 0.3s;
					}
					&:nth-child(5) {
						transition: opacity $time calc($delay1 + $delay2 * 5), color 0.3s;
					}
				}
			}
		}
	}

	.menu-icon {
		position: fixed;
		top: 5.5rem;
		right: 10rem;
		width: 6rem;
		height: 4rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1000;
		cursor: pointer;

		.line {
			background-color: s.$color-blue;
			height: 0.2rem;
			transition: all 0.3s;
		}

		.line-1,
		.line-3 {
			width: 100%;
		}

		.line-2 {
			width: 70%;
		}
	}

	&:not(.navigate) .menu-icon {
		&:hover .line-2 {
			margin-left: 30%;
		}
		&:hover .line-1,
		&:hover .line-3 {
			width: 70%;
		}
	}

	&.navigate .menu-icon {
		.line-1 {
			width: 50%;
			transform: translate(101%, 0.5rem) rotateZ(25deg);
		}
		.line-3 {
			width: 50%;
			transform: translate(101%, -0.5rem) rotateZ(-25deg);
		}

		.line-2 {
			width: 90%;
		}
	}

	/*-------------------------------| HEADER |---------------------------------- */

	.header {
		position: relative;
		width: 100%;
		height: 100vh;

		.logo {
			position: absolute;
			top: 9rem;
			left: 15rem;
			color: s.$color-blue;
			text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);

			img {
				width: 12rem;
				margin-right: 1.5rem;
				// transform: translateY(2rem);
			}

			span {
				display: block;
				margin-top: 0.6rem;
				margin-left: -1.2rem;
				font-family: 'Lilita One', sans-serif;
				font-size: 2.8rem;
				letter-spacing: 0.3rem;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.banner {
			position: absolute;
			right: 20rem;
			bottom: 30rem;
			text-align: center;

			h1 {
				font-size: 15rem;
				letter-spacing: 1rem;
				background-image: url('./../images/text-bg-1.jpg');
				background-size: cover;
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);

				span {
					font-size: 25rem;
				}
			}

			h3 {
				font-family: 'Kaushan Script', cursive;
				font-size: 7rem;
				font-weight: 300;
				color: #fff;
				transform: translate(3rem, 11rem);
			}

			h4 {
				font-size: 1.8rem;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 0.7rem;
				color: #32b0ce;
				transform: translateX(3rem);
			}
		}
	}

	.page-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 40rem;
		background-size: cover;

		.section-heading--sm {
			margin-top: 15rem;
		}
	}
}
