@use 'settings' as s;

.books-header {
	background: s.$color-gradient-gray, url('./../images/books-bg.jpg') center no-repeat;
}

.books-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10em 0;
	background-color: s.$color-dark-gray--darker-1;

	.books-list {
		width: 70%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10em 5em;

		//_book.scss
	}
}

.footer-books {
	margin-top: -2rem;
}

//()()()()()()()()()()()()(  @media  )()()()()()()()()()()()()

@media (min-width: 900px) {
	.books-section {
		padding: 15rem 0;
	}
	.footer-books {
		margin-top: 0rem;
	}
}
