@use 'settings' as s;

@use 'main/about' as about;
@use 'main/books' as books;
@use 'main/footer' as footer;
@use 'main/testimonials' as testimonials;

@import 'gridcnt';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;

	scrollbar-width: thin;
	scrollbar-color: s.$color-blue s.$color-dark-gray-base;

	//outline: 1px solid rgb(252, 54, 54);
}

// *:focus {
// 	outline: 3px dashed red !important;
// }

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: 'Mooli', cursive;
}

body::-webkit-scrollbar {
	width: 1.2rem;
}
body::-webkit-scrollbar-thumb {
	background-color: s.$color-blue;
	border-radius: 5rem;
}
body::-webkit-scrollbar-track {
	background-color: s.$color-dark-gray-base;
}

.wrapper {
	position: relative;
	width: min(s.$content-max-width, 85%);
	margin-inline: auto;
	//background-color: #4b4b4b;
}

.wrapper-helper {
	width: min(calc(s.$content-max-width - 2 * 83px), 75%);
	margin-inline: auto;
	display: flex;
	justify-content: flex-end;
	// background-color: #8a8a8a;
}

.section-padding {
	padding: clamp(10rem, 5vw + 8.4rem, 18rem) 0 clamp(8rem, 4.375vw + 6.6rem, 15rem) 0; //padding: 18em 0 15em 0;
}

.section-num {
	span {
		font-family: 'Cinzel', sans-serif;
		font-size: clamp(12rem, 8.125vw + 9.4rem, 25rem); //25rem;
		font-weight: 900;
		line-height: 1;
		background-image: url('./../images/text-bg-2.jpg');
		background-size: cover;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
	}
}

.section-heading--sm {
	font-size: clamp(1rem, 0.125vw + 0.96rem, 1.2rem); //1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: s.$color-blue;
}

.section-heading--lg {
	margin: 0.8em 0;
	font-size: clamp(2rem, 0.625vw + 1.8rem, 3rem); //3rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
}

.section-border {
	position: relative;
	width: 100%;
	height: 0.1rem;
	background-color: #333;
	margin-bottom: 3em;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 7rem;
		height: 0.7rem;
		background-color: s.$color-blue;
	}
}

.main-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;
	border-radius: 3rem;
	cursor: pointer;
	text-align: center;

	font-size: clamp(1.1rem, 0.187vw + 1.04rem, 1.4rem); //1.4rem
	font-weight: bold;
	letter-spacing: 0.25em;
	text-transform: uppercase;

	-webkit-tap-highlight-color: transparent;

	&__inner {
		display: inline-block;
		position: relative;
		padding: 1.5em 6em;
		border-radius: 3rem;
		background-color: s.$color-blue;
		color: #fff;
		overflow: hidden;
		transition: background 0.3s ease;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, transparent, #ffffffcc, transparent);
			transform: skewX(-30deg);
			transition: left 0.5s ease-in-out;
		}

		&:active {
			transform: translateY(0.2rem);
		}

		&:hover::before {
			left: 100%;
		}
	}

	/* &:focus {
		outline: none;
	} */
	&:focus-visible {
		outline: 2px solid s.$color-contrast;
		outline-offset: 0.5em;
	}
}

.loader-wrapper {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #151515;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: opacity 0.3s, visibility 0.3s;

	.loader {
		width: 25%;
		height: 0.15rem;
		background-color: s.$color-blue;
		transform: scaleX(0);

		animation: loader 2s 0.5s;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	@keyframes loader {
		0% {
			transform: scaleX(0);
			transform-origin: left;
		}
		20% {
			transform: scaleX(1);
			transform-origin: left;
		}
		25% {
			transform: scaleX(1);
			transform-origin: right;
		}
		45% {
			transform: scaleX(0);
			transform-origin: right;
		}
		50% {
			transform: scaleX(0);
			transform-origin: right;
		}
		70% {
			transform: scaleX(1);
			transform-origin: right;
		}
		75% {
			transform: scaleX(1);
			transform-origin: left;
		}
		100% {
			transform: scaleX(0);
			transform-origin: left;
		}
	}
}

.container {
	position: relative;
	background-color: s.$color-dark-gray-base;

	/*--------------------| NAVIGATION | ----------------------- */

	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		background-color: #191919;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s 0.4s, opacity 0.2s 0.2s;

		.nav-left {
			flex: 1;
			height: 100%;
			opacity: 0;
			transition: opacity 0.3s;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(100%);
				opacity: 0.5;
				transition: filter 1s, opacity 0.8s;
			}
			&:hover img {
				filter: grayscale(0);
				opacity: 1;
			}
		}

		.nav-right {
			flex: 1;
			flex-grow: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color: #171717;
			transform: translateX(-200%);
			transition: flex-grow 0.3s ease-in, transform 0.4s ease-in;

			.nav-items {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				a {
					&:last-child {
						position: relative;
						padding: 1rem 1rem 1rem 6rem;

						&::before {
							content: '';
							position: absolute;
							width: 4rem;
							height: 0.2rem;
							top: 50%;
							left: 1rem;
							transform: translateY(-50%);
							background-color: #fff;
							transition: background-color 0.3s;
						}

						@media (hover: hover) and (pointer: fine) {
							&:hover::before {
								background-color: s.$color-blue;
							}
						}
					}

					padding-right: 1rem;
					margin: 1em 0;
					font-size: clamp(1.4rem, 0.25vw + 1.32rem, 1.8rem); //1.8rem;
					text-transform: uppercase;
					color: #fff;
					opacity: 0;
					visibility: hidden;

					transition-property: color, opacity;
					transition-delay: 0s, 0s;
					transition-duration: 0s, 0.7s;
					transition-timing-function: ease, ease-in;
					@media (hover: hover) and (pointer: fine) {
						transition-duration: 0.3s, 0.7s;
					}

					-webkit-tap-highlight-color: transparent;

					span {
						position: relative;
						font-family: 'Cinzel', sans-serif;
						font-size: clamp(2.2rem, 0.5vw + 2.04rem, 3rem); //3rem;
						font-weight: 900;
						margin-left: 1rem;
						letter-spacing: 0.1em;

						&::before {
							content: '';
							position: absolute;
							bottom: -3px;
							left: 0;
							width: 0;
							height: 0.5rem;
							background-color: s.$color-blue;
						}

						&::after {
							$tri-size: 0.6rem;

							content: '';
							position: absolute;
							width: 0;
							height: 0;
							top: 50%;
							transform: translateY(-70%);
							left: -2.8rem;
							border-top: $tri-size solid transparent;
							border-bottom: $tri-size solid transparent;
							border-left: calc($tri-size * 2) solid s.$color-blue;
							opacity: 0;
						}
					}

					&:hover {
						color: s.$color-blue;
					}

					&:hover span::before {
						width: 92%;
					}
					@media (hover: hover) and (pointer: fine) {
						&:hover span::before {
							transition: width 0.3s;
						}
					}

					&.active span::after {
						opacity: 1;
					}

					&:focus-visible {
						outline: 2px solid s.$color-contrast;
						outline-offset: 0.5rem;
					}
				}
			}
		}
	}

	&.navigate .navigation {
		opacity: 1;
		visibility: visible;
		transition: visibility 0.2s, opacity 0.2s ease-in-out;

		.nav-left {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.3s 0.2s ease-in-out, opacity 0.3s 0.2s ease-in-out;
		}

		.nav-right {
			flex-grow: 2.7;
			transform: translateX(0);
			transition: flex-grow 0.4s 0.1s, transform 0.4s ease-out;

			.nav-items {
				a {
					$delay1: 0.3s;
					$delay2: 0.1s;

					opacity: 1;
					visibility: visible;

					&:nth-child(1) {
						transition-delay: 0s, calc($delay1 + $delay2);
					}
					&:nth-child(2) {
						transition-delay: 0s, calc($delay1 + $delay2 * 2);
					}
					&:nth-child(3) {
						transition-delay: 0s, calc($delay1 + $delay2 * 3);
					}
					&:nth-child(4) {
						transition-delay: 0s, calc($delay1 + $delay2 * 4);
					}
					&:nth-child(5) {
						transition-delay: 0s, calc($delay1 + $delay2 * 5);
					}
				}
			}
		}
	}

	.menu-icon {
		--color-1: var(--color-blue);
		--color-2: black;

		position: fixed;
		top: 5.5rem;
		right: 5rem;
		width: 6rem;
		height: 4rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: none;
		border: none;
		transform: scale(0.8);
		z-index: 1000;
		cursor: pointer;

		-webkit-tap-highlight-color: transparent;

		&::before {
			content: '';
			position: absolute;
			width: 110%;
			height: 130%;
			top: -15%;
			left: -5%;
			background-color: var(--color-1);
			border-radius: 4px;
			box-shadow: 0 0 1rem rgba($color: #0a0a0a, $alpha: 0.3);
			z-index: -1;
		}

		.line {
			background-color: var(--color-2);
			height: 0.2rem;
			transition: all 0.3s;
		}

		.line-1,
		.line-3 {
			width: 100%;
		}

		.line-2 {
			width: 70%;
		}

		&:focus-visible {
			outline: 2px solid s.$color-contrast;
			outline-offset: 0.5em;
		}
	}

	&:not(.navigate) .menu-icon {
		&:hover .line-2 {
			margin-left: 30%;
		}
		&:hover .line-1,
		&:hover .line-3 {
			width: 70%;
		}
	}

	&.navigate .menu-icon {
		.line-1 {
			width: 50%;
			transform: translate(101%, 0.5rem) rotateZ(25deg);
		}
		.line-3 {
			width: 50%;
			transform: translate(101%, -0.5rem) rotateZ(-25deg);
		}

		.line-2 {
			width: 90%;
		}
	}

	/*---------------------| HEADER |----------------------- */

	.header {
		position: relative;
		width: 100%;
		min-height: 100vh;

		.logo {
			position: absolute;
			top: 5rem;
			left: 5rem;
			color: s.$color-blue;

			-webkit-tap-highlight-color: transparent;

			img {
				width: 5rem;
				display: inline-block;
			}

			span {
				display: none;
				position: relative;
				font-family: 'Lilita One', sans-serif;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
			}

			/* &:focus {
				outline: none;
			} */
			&:focus-visible {
				outline: 2px solid s.$color-contrast;
				outline-offset: 1em;
			}
		}

		.banner {
			position: absolute;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -40%);

			h1 {
				font-size: clamp(5rem, 9.56vw + 1.941rem, 15rem); //clamp(10rem, 3.125vw + 9rem, 15rem); //15rem;
				letter-spacing: clamp(0.04em, 0.019vw + 0.034em, 0.07em); //0.07em;
				background-image: url('./../images/text-bg-1.jpg');
				background-size: cover;
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				text-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);

				span {
					font-size: clamp(10rem, 14.34vw + 5.411rem, 25rem); //clamp(20rem, 3.125vw + 19rem, 25rem); //25rem;
				}
			}

			h3 {
				display: inline-block;
				font-family: 'Kaushan Script', cursive;
				font-size: clamp(2rem, 4.78vw + 0.47rem, 7rem); //clamp(4rem, 1.875vw + 3.4rem, 7rem); //7rem;
				font-weight: 300;
				color: #fff;
				transform: translate(1em, 2.2em);
			}

			h4 {
				display: inline-block;
				font-size: clamp(1.2rem, 0.574vw + 1.016rem, 1.8rem); //clamp(1.4rem, 0.25vw + 1.32rem, 1.8rem); //1.8rem;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 0.3em;
				color: #32b0ce;
				transform: translateX(1em);
			}
		}
	}

	.page-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 40rem;
		background-size: cover;

		.section-heading--sm {
			margin-top: 15em;
		}
	}
}

// container ONLY at index page
.index-container {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

//()()()()()()()()()()()()(  @media  )()()()()()()()()()()()()

@media (min-width: 600px) {
	.container {
		.header {
			.logo {
				top: 6rem;
				left: 9rem;
				img {
					display: block;
					width: 9rem;
				}

				span {
					display: block;
					top: 0.3rem;
					margin-left: 0.15em;
					font-size: 2.1rem;
					letter-spacing: 0.1em;
				}
			}

			.banner {
				top: auto;
				right: 0;
				left: 0;
				bottom: 20%;
				transform: translate(0, 0);

				h3 {
					transform: translate(0.5em, 1.5em);
				}
				h4 {
					transform: translateX(2em);
				}
			}
		}
	}
}

@media (min-width: 900px) {
	.container {
		.menu-icon {
			transform: scale(1);
		}

		&.navigate .navigation {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.2s, opacity 0.2s ease-in-out;

			.nav-left {
				flex-grow: 1;
				transition: visibility 0.6s 0.3s ease-in-out, opacity 0.6s 0.3s ease-in-out;
			}

			.nav-right {
				flex-grow: 1;
				transition: flex-grow 0.7s 0.1s, transform 0.7s ease-out;
			}
		}
	}
}

@media (min-width: 1300px) {
	.container {
		.menu-icon {
			top: 9rem;
			right: 10rem;
		}
		.header {
			.logo {
				top: 9rem;
				left: 12rem;

				img {
					width: 10rem;
				}

				span {
					font-size: 2.4rem;
					margin-left: 0.1em;
				}
			}
			.banner {
				position: absolute;
				left: auto;
				right: clamp(15rem, 3.125vw + 14rem, 20rem); //20rem;
				bottom: clamp(15rem, 3.125vw + 14rem, 20rem); //25rem;
			}
		}
	}
}

@media (min-width: 1400px) {
	.container {
		.menu-icon {
			--color-1: black;
			--color-2: var(--color-blue);
			&::before {
				display: none;
			}
		}
	}
}
