@use 'settings' as s;

.testimonials-header {
	background: s.$color-gradient-gray, url('./../images/testimonials-bg.jpg') center no-repeat;
}

.testimonials-section {
	position: relative;
	width: 100%;
	min-height: 140vh;
	background-color: s.$color-dark-gray--darker-1;

	&__top {
		position: absolute;
		top: 10%;
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(-50%);

		h3 {
			font-size: 2rem;
			font-weight: 200;
			color: #ccc;
		}

		h2 {
			font-size: 5rem;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 0.4rem;
			margin: 2rem 0;
		}
		.stars {
			i {
				font-size: 1.6rem;
				color: s.$color-blue;
				margin: 0 0.5rem;
			}
		}
	}

	&__wrapper {
		position: absolute;
		width: 55%;
		height: 50rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;

		.slider {
			display: flex;
			width: 500%;
			height: 100%;
			transition: transform 0.8s cubic-bezier(1, -0.05, 0.1, 1);

			.slide {
				position: relative;
				width: 20%;

				&__bg {
					position: absolute;
					width: 70%;
					height: 65%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotateZ(-6deg);
					background-color: rgba(50, 176, 206, 0.5);
					border-radius: 2rem;
					opacity: 0.7;
				}

				&__content {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: absolute;
					width: 70%;
					height: 65%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					padding: 0 5rem;
					background-color: #eee;
					border-radius: 2rem;

					i {
						font-size: 12rem;
						color: s.$color-blue;
						position: absolute;

						&:nth-child(1) {
							top: -20%;
							left: 10%;
						}
						&:nth-child(2) {
							bottom: -20%;
							right: 10%;
						}
					}

					&--img {
						position: relative;
						width: 35%;
						height: 16rem;
						margin-right: 3rem;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 3rem 0 3rem 0;
							filter: grayscale(100%);
							cursor: pointer;
							transition: filter 1s;

							&:hover {
								filter: grayscale(0);
							}
						}

						&::before,
						&::after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							border: 0.2rem solid rgba($color: #000000, $alpha: 0.4);
							border-radius: 3rem 0 3rem 0;
							z-index: -1;
						}

						&::before {
							bottom: -1rem;
							right: -0.5rem;
						}
						&::after {
							top: -1rem;
							left: -0.5rem;
						}
					}

					&--text {
						width: 65%;

						h3 {
							font-size: 2.5rem;
							font-weight: 200;
							color: #111;
							margin-bottom: 1rem;
						}

						p {
							width: 35rem;
							font-size: 1.4rem;
							font-weight: 300;
							color: #020d14;
							line-height: 1.6rem;
							margin-bottom: 3rem;
						}

						.client {
							font-size: 1.8rem;
							color: #072c35;
						}
					}
				}
			}
		}
	}

	.testimonials-section__controls {
		i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5rem;
			height: 5rem;
			background-color: #7b8584;
			font-size: 3rem;
			border-radius: 50%;
			opacity: 0.6;
			color: #444;
			transition: opacity 0.2s;

			&:nth-child(1) {
				left: 20%;
			}
			&:nth-child(2) {
				right: 20%;
			}

			&:active {
				opacity: 1;
			}
		}

		.dots {
			position: absolute;
			bottom: 15%;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			gap: 1.2rem;

			span {
				width: 1rem;
				aspect-ratio: 1;
				background-color: #ccc;
				border-radius: 50%;
				transform-origin: center;
				transform: scale(1);
				transition: transform 0.3s ease, background-color 0.3s ease;
				cursor: pointer;
			}

			.active {
				transform: scale(1.6);
				background-color: #fff;
			}
		}
	}
}
