@use '../settings' as s;
@use './components/book';

.books {
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		text-align: center;

		&--top {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10em;

			.books-header {
				text-align: right;
				margin-right: 10em;

				.section-border::after {
					right: 0;
					left: auto;
				}
			}

			.section-num {
				span {
					background-image: url('./../images/text-bg-3.jpg');
					background-position: 50% 50%;
				}
			}
		}

		&--list {
			display: flex;
			gap: 12em;

			// _book.scss
		}

		.main-btn {
			margin-top: 10em;
		}
	}
}
