@use '../settings' as s;

.testimonials {
	position: relative;
	width: 100%;
	background-color: s.$color-dark-gray--darker-1;

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&--top {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 5em;

			.section-num {
				margin-right: 10em;

				span {
					background-image: url('./../images/text-bg-4.jpg');
				}
			}
		}

		&--feedback {
			width: 68%;

			position: relative;
			display: grid;
			align-items: center;
			row-gap: 3rem;
			grid-template-columns: [p1] 2fr [p2] 3fr [p3];
			grid-template-rows: auto auto;
			grid-template-areas:
				'photo title'
				'quote quote';

			.feedback-img {
				grid-area: photo;

				width: 92%;
				aspect-ratio: 1;
				object-fit: cover;
				border-radius: 2rem;
				border: 0.8rem solid #202020;
				filter: grayscale(100%);
				cursor: pointer;
				transition: filter 1s;
				z-index: 2;

				&:hover {
					filter: grayscale(0);
				}
			}

			.feedback-heading {
				grid-area: title;

				h1 {
					font-size: 7rem;
					color: #fff;
					text-align: center;

					span {
						font-family: 'Kaushan Script', cursive;
						font-size: 8rem;
						color: s.$color-blue;
						letter-spacing: 0.05em;
					}
				}
			}

			.quote-wrapper {
				grid-area: quote;
				justify-self: end;

				position: relative;
				width: 100%;

				.quote-bg {
					position: absolute;
					bottom: -4.2rem;
					left: -3rem;
					width: 44%;
					height: 145%;
					background-color: s.$color-blue;
					opacity: 0.5;
					border-radius: 3em;

					&::after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						left: 5%;
						bottom: -2.7rem;
						border-left: 4rem solid transparent;
						border-right: 4rem solid transparent;
						border-bottom: 4rem solid s.$color-blue;
						transform: rotate(-45deg);
					}
				}

				.quote {
					$color: #282828;

					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					background-color: $color;
					border-radius: 3rem;
					padding: 4em 0;
					z-index: 2;

					&::after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						left: 0.5%;
						bottom: -2.7rem;
						border-left: 4rem solid transparent;
						border-right: 4rem solid transparent;
						border-bottom: 4rem solid $color;
						transform: rotate(-45deg);
						z-index: 2;
					}

					&__header {
						position: relative;
						width: 100%;

						i {
							position: absolute;
							top: -1.5rem;
							font-size: 8rem;
							color: s.$color-blue;

							&:nth-of-type(1) {
								left: -1.2rem;
							}
							&:nth-of-type(2) {
								right: -1.2rem;
							}
						}

						h1 {
							font-size: 2rem;
							text-transform: uppercase;
							color: #fff;
							letter-spacing: 0.1em;
							text-align: center;
							margin: 0 auto;
						}
					}

					&__body {
						margin-top: 3rem;
						p {
							display: block;
							width: 58%;
							margin: 0 auto;
							font-size: 1.3rem;
							line-height: 2em;
							text-align: center;
							color: #fff;
						}
					}

					&__stars {
						i {
							margin: 2em 0.25em 0.5em;
							font-size: 1.6rem;
							color: s.$color-blue;
						}
					}
				}
			}
		}
	}
	.main-btn {
		margin-top: 17rem;
	}
}
