@use '../../settings' as s;

.book {
	flex: 1 1 35rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6em;
	text-align: center;

	img {
		width: 30rem;
		height: auto;
		filter: grayscale(100%);
		border-radius: 1rem;
		box-shadow: 0 1em 3em rgba($color: #000000, $alpha: 0.4);
		cursor: pointer;
		transition: filter 1s;

		&:hover {
			filter: grayscale(0);
		}
	}

	&__name {
		font-family: 'Kaushan Script', cursive;
		font-size: 1.6rem;
		text-transform: uppercase;
		color: s.$color-blue;
		letter-spacing: 0.1em;
		margin: 2em 0;
	}

	&__line {
		width: 10rem;
		height: 0.1rem;
		background-color: rgba($color: #ffffff, $alpha: 0.1);
		margin-bottom: 3em;
	}

	&__author {
		font-size: 1.8rem;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 0.2em;
	}
}
