@use '../settings' as s;

.footer {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.footer-header {
			text-align: center;
			margin: 12em 0 6em;

			.section-border::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&-inside {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			width: 90%;

			&--social {
				width: 80%;
				display: grid;
				grid-template: min-content max-content 1fr / min-content 1fr;
				grid-auto-columns: max-content;
				margin-top: 8em;
				margin-left: -5%;

				.f-icon {
					font-size: clamp(1.8rem, 1.063vw + 1.46rem, 3.5rem); //3.5rem;
					color: #fff;
				}

				.f-address {
					align-self: center;
					justify-self: center;
					font-size: clamp(1.2rem, 0.375vw + 1.08rem, 1.8rem); //1.8rem;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					color: #fff;
				}

				.f-address--p {
					grid-column: 2;

					display: flex;
					flex-direction: column;
					padding: 1.5rem 0;
					justify-self: center;
					text-align: center;

					span {
						font-size: clamp(1.2rem, 0.125vw + 1.16rem, 1.4rem); //1.4rem;
						color: #fff;
						margin-bottom: 0.6rem;
					}
				}

				.f-social-media {
					grid-row: 3 / span 2;
					grid-column: 2 / span 2;
					justify-self: center;
					margin-top: 3em;

					i {
						font-size: clamp(2.2rem, 0.5vw + 2.04rem, 3rem); //3rem;
						color: #fff;
						cursor: pointer;
					}
					i + i {
						margin-left: 0.8em;
					}
				}
			}

			&--form {
				width: 100%;

				form {
					display: flex;
					flex-direction: column;

					.input-group {
						display: flex;
						flex-direction: column;

						input {
							width: 100%;
							height: 6rem;
							margin-bottom: 3em;
						}
					}

					.ta {
						resize: none;
						height: 18rem;
						margin-bottom: 3em;
						font: inherit;
					}

					.input-group input,
					.ta {
						background-color: s.$color-dark-gray--darker-2;
						padding: 0.7em 1.4em;
						font-size: clamp(1.2rem, 0.125vw + 1.16rem, 1.4rem); //1.4rem;
						color: #fff;
						border-radius: 0.5rem;
						border: none;
						line-height: 1.5;
						letter-spacing: 0.1em;
					}

					.input-group input:focus,
					.ta:focus {
						outline: 2px solid s.$color-blue;
					}

					.ta {
						padding-top: 1.4em;
					}

					.input-group input::placeholder,
					.ta::placeholder {
						color: #686868;
					}

					.form-btn {
						width: 100%;
						padding: 1.2em 6em;
						margin-left: auto;
						background-color: s.$color-blue;
						border: none;
						border-radius: 0.5rem;
						font-weight: bold;
						color: #fff;
						letter-spacing: 0.1em;
						box-shadow: 0 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
						cursor: pointer;

						&:active {
							transform: translateY(0.2rem);
						}

						&:focus {
							outline: none;
						}
						&:focus-visible {
							outline: 2px solid s.$color-contrast;
							outline-offset: 0.5em;
						}
					}
				}
			}
		}

		.footer-bottom {
			width: 90%;
			margin-bottom: 3rem;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;

			p {
				font-size: clamp(1rem, 0.25vw + 0.92rem, 1.4rem); //1.4rem;
				color: #ccc;
			}

			.btt-btn {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin: 5em 0;
				padding: 1em;
				border: none;
				background: none;
				font-size: clamp(1rem, 0.25vw + 0.92rem, 1.4rem); //1.4rem;
				color: #ccc;
				text-transform: uppercase;
				letter-spacing: 0.1em;

				i {
					margin-left: 0.6em;
				}

				&:focus {
					outline: none;
				}
				&:focus-visible {
					outline: 2px solid s.$color-contrast;
				}
			}
		}
	}
}

//()()()()()()()()()()()()(  @media  )()()()()()()()()()()()()

@media (min-width: 500px) {
	.footer {
		&__content {
			&-inside {
				width: 80%;
				&--social {
					width: 100%;
					column-gap: 5%;
					margin-left: 0;
					margin-top: 7em;
					margin-bottom: 5em;

					.f-address {
						justify-self: start;
					}
					.f-address--p {
						justify-self: start;
						text-align: left;
					}
					.f-social-media {
						grid-row: 1 / span 2;
						grid-column: 3 / span 1;
						align-self: center;
						justify-self: start;
						margin-top: 0;
					}
				}
			}
			.footer-bottom {
				flex-direction: row;
				justify-content: space-between;

				.btt-btn {
					margin: 0;
				}
			}
		}
	}
}

@media (min-width: 700px) {
	.footer {
		&__content {
			.footer-header {
				margin: 12em 0 10em;
			}

			&-inside {
				display: flex;
				flex-direction: row;
				align-items: start;
				justify-content: space-between;
				width: 85%;
				margin-bottom: 10em;

				&--social {
					width: 35%;
					margin-top: 0;
					margin-bottom: 0;

					.f-social-media {
						grid-column: 1 / span 2;
						grid-row: auto;
					}
					.f-address--p {
						padding: 1.5rem 0 3rem 0;
					}
				}
				&--form {
					width: 55%;
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	.footer {
		&__content {
			.footer-header {
				margin: 15em 0 12em;
			}
			&-inside {
				width: 90%;
				&--social {
					width: 26%;

					.f-social-media {
						i + i {
							margin-left: 1em;
						}
					}
				}
				&--form {
					width: 70%;

					form {
						.input-group {
							flex-direction: row;
							justify-content: space-between;
							flex-wrap: wrap;

							input {
								width: 47%;
								height: 6rem;
								margin-bottom: 3em;
							}
						}
						.form-btn {
							width: auto;
						}
					}
				}
			}
		}
	}
}
